*
{
    padding : 0;
    margin : 0;
    font-family : "Courier New";
}

div#container h1
{
    text-align : center;
    font-variant : small-caps;
    border-bottom : 2px solid rgb(60,70,80);
    margin-bottom : 10px;
}

body
{
    font-size : 18px;
    background : radial-gradient(white,aliceblue);
    color : rgb(60,70,80);
}

div#container
{
    width : 600px;
    float : center;
    margin : auto;
    clear : both;
    overflow : auto;
    padding-bottom : 10px;
    border-bottom : 2px solid rgb(60,70,80);
}

div#sidebar
{
    float : right;
}

div#board
{
    float : left;
}

div#deck, div#scoreboard, div#controls
{
    padding-top : 60px;
}

div#overlay
{
    position : absolute;
    top : 0;
    left : 0;
    z-index : 1;
    width : 100%;
    height : 100%;
    background : black;
    opacity : 0.85;
    visibility : hidden;
}

div#gameover, div#pause
{
    position : absolute;
    top : 300px;
    left : 0;
    z-index : 2;
    text-align : center;
    width : 100%;
    color : white;
    visibility : hidden;
}

div#controls table td
{
    padding : 0 1em;
}

div#controls table caption
{
    font-weight : bold;
}

table
{
    float : center;
    margin : auto;
}

div#board table td
{
    width : 30px;
    height : 30px;
    transition : all .1s linear;
}

div#scoreboard table td
{
    text-align : right;
    width : 5em;
}

div#scoreboard table th
{
    text-align : left;
}

div#deck p
{
    text-align : center;
    font-weight : bold;
}

div#deck table td
{
    width : 20px;
    height : 20px;
}

table td.empty
{
    background : aliceblue;
}

table td.frozen
{
    background : lightslategray;
}

table td.square
{
    background : blue;
}

table td.stick
{
    background : red;
}

table td.gamma
{
    background : yellow;
}

table td.ell
{
    background : purple;
}

table td.tee
{
    background : cyan;
}

table td.zig
{
    background : green;
}

table td.zag
{
    background : orange;
}
